@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
}
.Search {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}


.search-container {
  width: 100%;
  margin-top: 40px;
}

.search-input {
  width: 800px;
  padding: 10px 16px;
  font-size: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
}

.search-input:focus {
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
}


.search-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

/* .search-btn:hover {
  background-color: rgb(255, 217, 0);
  transform: scale(1.05);
} */

/* @media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    gap: 12px;
  }

  .search-input {
    width: 80%;
  }

  .search-btn {
    width: 50%;
  }
} */

.weather-data{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.weather-data .col{
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 25px; 
}

.weather-data .col span{
  display: block;
  font-size: 20px;
  margin-top: -20px;
}

.weather-data .col img{
  width: 40px;
  margin-top: 10px;
}

#card-design {
  max-width: 800px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border: 3px solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.error {
  max-width: 800px;
  color: rgb(247, 24, 24);
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
  background: rgba(255, 226, 7, 0.562); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border: 3px solid rgba(255, 32, 32, 0.718);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

body.light .card-data {
  background-color: white;
  color: #121212;
}

body.dark .card-data {
  background-color: #1e1e1e;
  color: #f9f9f9;
}
body.light .card-data .countryData {
  color: #121212;
}

body.dark .card-data .countryData {
  color:white;
}

body.dark .search-input {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

body.light .search-input {
  background-color: #f9f9f9;
  color: #121212;
  border: 1px solid #ccc;
}

body.light .weathery{
  color: #000000;
}
body.dark .weathery{
  color: #ffffff;
}
body.light .search-btn{
  background-color: #ffffff;
}
body.dark .search-btn{
  background-color: #333;
}
body.light .search-btn:hover{
  background-color: rgba(0, 0, 0, 0.69);
  transform: scale(1.05);
}
body.dark .search-btn:hover{
  background-color: rgba(255, 255, 255, 0.833);
  transform: scale(1.05);
}

body.light .search-input::placeholder {
  color: #2d242477;
  font-style: italic;
}

body.dark .search-input::placeholder {
  color: #e6dcdc95;
  font-style: italic;
}