.Search {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}


.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}


.search-input {
  width: 40%;
  padding: 10px 16px;
  font-size: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
}

.search-input:focus {
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
}


.search-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.search-btn:hover {
  background-color: lime;
  transform: scale(1.05);
}

.error {
  color: red;
  margin-top: 15px;
  font-weight: 500;
}


@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    gap: 12px;
  }

  .search-input {
    width: 80%;
  }

  .search-btn {
    width: 50%;
  }
}
