body {
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}


body.light {
  background-image: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

/* Dark theme background */
body.dark {
  background-image: url("https://images.unsplash.com/photo-1503264116251-35a269479413");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}


.theme-container {
  display: flex;
  justify-content: flex-end;
  
}

.toggle-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  /* background-color: #121212;
  color: white; */
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s;
}

/* .toggle-btn:hover {
  background-color: #121212;
} */
