body {
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}


body.light {
  background-color: #f9f9f9;
  color: #222;
}

body.dark {
  background-color: #121212;
  color: #f9f9f9;
}


.theme-container {
  display: flex;
  justify-content: flex-end;
  
}

.toggle-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #121212;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.toggle-btn:hover {
  background-color: #121212;
}
